<!--Content index-->
<div class="container-md p-5">
    <h3 class="text-center fade-in">
        If you wanna contact me, just let me know right here and I'll be answering as fast as I can c:
    </h3>
    <!--Contact form-->
    <form class="p-5 fade-in-title" action="/form-handler" method="post">
        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="form4Example1" name="name-input" class="form-control" />
            <label class="form-label" for="form4Example1">Name</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form4Example2" name="email-input" class="form-control" />
            <label class="form-label" for="form4Example2">Email address</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
            <textarea class="form-control" id="form4Example3" name="message-input" rows="4"></textarea>
            <label class="form-label" for="form4Example3">Message</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </form>
    <p></p>
</div>